#DTM-b48b40cf95f96882086ad746f9de6a96-7 fieldset:nth-child(1) {
    background: #fbebeb;
}

#DTM-b48b40cf95f96882086ad746f9de6a96-7 fieldset:nth-child(2) {
    background: #f6ffc1;
}

#DTM-b48b40cf95f96882086ad746f9de6a96-7 fieldset:nth-child(3) {
    background: #c7e3ff;
}

#DTM-b48b40cf95f96882086ad746f9de6a96-7 fieldset:nth-child(4) {
    background: #ffcbf5;
}